.google-visualization-orgchart-table {
    padding: 16px;
}
.chart-node {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #b5d9ea;
    padding: 0;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    background-color: #edf7ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#edf7ff), to(#cde7ee));
}
.packagetitle {
    font-weight: 400;
    min-width: 60px;
}
.packageowner {
    font-weight: 300;
    font-size: 70%;
}
.packagelink {
    /*position: relative;
    display: block;
    width: 16px;
    height: 16px;
    top: 2px;
    right: 2px;*/
}
.packagelink img {
    vertical-align: middle;
}
/* override google-visualization-orgchart-table styles for links and images */
.google-visualization-orgchart-table a {
    padding: 0px;
}
.google-visualization-orgchart-table img {
    padding: 0px;
}
.expand {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#details {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 300px;
    max-width: 85%;
    background-color: #ccc;
    padding: 12px;
    font-size: 80%;
}
#minimize-button {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    padding: 1px 2px 1px 2px; /* Add some padding */
    border: 1px solid #000;
    font-size: 60%;
}
#chart_div {
    width: 100%;
}

@media screen and (max-width: 480px) {
    #details {
        bottom: 12px;
        left: 12px;
        padding: 8px;
    }
}

